# Directorios de Next.js  
.next/  
out/  
  
# Dependencias de Node  
node_modules/  
  
# Archivos de entorno (sensibles)  
.env  
.env.local  
.env.development.local  
.env.production.local  
.env.test  
.env.preview  
  
# Prisma (si usas un .env dentro de prisma/)  
prisma/.env  
  
# Archivos de registro  
npm-debug.log*  
yarn-debug.log*  
yarn-error.log*  
pnpm-debug.log*  
.pnpm-debug.log*  
  
# Caches y artefactos  
*.log  
*.tsbuildinfo  
.eslintcache  
.turbo/  
coverage/  
  
# Cypress (si lo usas)  
cypress/screenshots/  
cypress/videos/  
  
# Vercel  
.vercel/  
  
# Configuración de IDEs (opcionales)  
.vscode/  
.idea/  
  
# Windows  
Thumbs.db  
desktop.ini  
  
# macOS  
.DS_Store
